/* GENERAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: #0645ad;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: super;
    font-size: .7rem;
}

#first-line {
    font-weight: bold;
    font-style: italic;
}

#galaxian {
    font-style: italic;
}

/* Helping Colors for sections */
/* .header {
    background-color: rgba(255, 131, 51, 0.9);
}
.side-panel {
    background-color: rgba(73, 255, 51, 0.9);
} */
/* .article {
    background-color: rgba(255, 255, 255, 0.9);
} */
/* .footer {
    background-color: rgba(233, 51, 255, 0.9);
} */

/* MAIN WRAPPER STLYES */
.main-wrapper {
    position: relative;
}

/* background color for header */
.fake-header {
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%);
}

/* SIDE PANEL STYLES */
.side-panel {
    height: auto;
    width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-wrapper ul {
    padding: 0.3rem 0 0 0;
}

.panel-wrapper ul li {
    padding: 0.25rem 0;
    font-size: 0.75rem;
    line-height: 0.72rem;
}

.panel-wrapper h3 {
    margin-top: 0.5rem;
    padding: 0.5em 0;
    font-size: 0.75rem;
    color: #54595d;

    background-image: linear-gradient(
        to right,
        rgba(200, 204, 209, 0) 0,
        #c8ccd1 33%,
        #c8ccd1 66%,
        rgba(200, 204, 209, 0) 100%
    );
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.logo-wrapper {
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.logo {
    background-image: url(https://en.wikipedia.org/static/images/project-logos/enwiki20a.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 10rem;
    height: 10rem;
}

.main-page,
.contribute,
.tools,
.print,
.language {
    margin: 0 0.6rem 0 1.2rem;
    padding: 0.25rem 0;
}

.language-first-wrapper {
    position: relative;
}

.language-first-wrapper a {
    top: 0;
    right: 0;
    padding-top: 0.2em;
    position: absolute;
    text-decoration: none;
}

.language-first-wrapper i {
    font-size: .9rem;
    color: #7a8188;
}

.language-first-wrapper i:hover {
    color: #54595d;
}

.language-first-wrapper h3 {
    display: block;
}

.language-second-wrapper div {
    text-align: right;
    font-size: 0.75rem;
}

.language-second-wrapper div a {
    color: #54595d;
}

.language-second-wrapper div a:hover {
    color: #0645ad;
}


/* CONTENT WRAPPER STYLES */
.content-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10rem;
}

/* HEADER STYLES */
.header {
    height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    position: relative;
}

.personal-navigation {
    position: absolute;
    top: 0.375rem;
    right: 0.75rem;

}

.personal-navigation li {
    float: left;
    font-size: 0.75rem;
    margin-left: 0.75em;
    padding-top: 0.5em;
    line-height: 1.16666667;
}

#user-status {
    color: #54595d;;
}

/* Left Navigation */
.left-navigation-wrapper {
    float: left;
    height: 50%;
    margin-top: 2.5rem;
    font-size: 0.8125rem;
    padding-left: 0.0625rem;
}

.left-navigation ul {
    height: 2.5rem;
}

.left-navigation li{
    height: 100%;
    float: left;

    background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
    background-position: left bottom;
    background-repeat: repeat-x;
}

#selected-1 {
    background-color: #ffffff;
    color: #202122;
    text-decoration: none;
}

.left-navigation li a {
    display: block;
    height: 100%;
    padding-top: 1.25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #0645ad;
}

/* Right Navigation */
.right-navigation-wrapper {
    float: right;
    height: 50%;
    margin-top: 2.5rem;
    font-size: 0.8125rem;
}

.right-navigation ul {
    height: 2.5rem;
}

.right-navigation li{
    height: 100%;
    float: left;

    background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
    background-position: left bottom;
    background-repeat: repeat-x;
}

#selected-2 {
    background-color: #ffffff;
    color: #202122;
    text-decoration: none;
}

.right-navigation li a {
    display: block;
    height: 100%;
    padding-top: 1.25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #0645ad;
}

/* Search form */
.form-search {
    margin: .5rem .5rem 0;
}

.input-wrapper {
    height: 1.75rem;
    position: relative;
    width: 20vw;
    min-width: 5rem;
    max-width: 20rem;
}

#search-input {
    background-color: rgba(255,255,255,0.5);
    color: #000000;
    width: 100%;
    height: 100%;
    font-size: 0.8125rem;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 0.3125rem 2rem 0.3125rem 0.4rem;
    box-shadow: inset 0 0 0 1px transparent;
    font-family: Arial, Helvetica, sans-serif;
}

#search-button {
    position: absolute;
    top: 0.0625rem;
    bottom: 0.0625rem;
    right: 0.0625rem;

    background: no-repeat center / 1.23076923em url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/search.svg?cd211);
    opacity: 0.67;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    min-width: 1.75rem;
    text-indent: -99999px;
}

/* ARTICLE STYLES */
.article {
    padding: 1rem;
    background-color: #ffffff;
    border-top: 1px solid #a7d7f9;
    border-left: 1px solid #a7d7f9;
    border-bottom: 1px solid #a7d7f9;
    margin-top: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
}

.article h1 {
    margin-bottom: 0.25rem;
    font-family: 'Georgia','Times',serif;
    line-height: 1.3;
    font-size: 1.8rem;
    color: #000;
    font-style: italic;
    border-bottom: 1px solid #a2a9b1;
}

.article-content {
    line-height: 1.6;
    color: #202122;
}

.editsection {
    margin-left: .4rem;
    font-size: small;
    vertical-align: baseline;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.site-sub {
    font-size: 92%;
    margin: .45rem 0 1rem 0;
    line-height: 1.6;
}

.article-text p {
    margin: 0.4rem 0;
}

.article-text h2 {
    margin: 1rem 0 .25rem 0;
    font-size: 1.3rem;
    font-family: 'Georgia','Times',serif;
    border-bottom: 1px solid #a2a9b1;
    line-height: 1.3;
    overflow: hidden;
}

.article-text h3 {
    font-weight: bold;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* INFOBOX STYLES */
.infobox {
    float: right;
    width: 17.5rem;
    margin: .4rem 0 .4rem .9rem;
    
    text-align: left;
    border-spacing: 3px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    color: black;
    line-height: 1.5rem;
    font-size: 90%;
}

#table-title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    font-size: .875rem;
    padding-top: .3rem;
    padding-bottom: .1rem;
}

#table-picture {
    text-align: center;
}
#table-picture img {
    width: 220px;
    height: auto;
}
#table-picture div {
    line-height: normal;
    margin-top: -.3125rem;
    margin-bottom: 4px;
    font-size: .75rem;
}

#table-padding {
    padding-bottom: .3rem;
}

.infobox tr {
    text-align: left;
    border-spacing: 3px;

}

.infobox th {
    vertical-align: top;
    padding-right: .65rem;
    font-weight: bold;
    padding-left: .5rem;
}

.infobox sup {
    vertical-align: super;
    font-size: .6rem;
}

/* CONTENT BOX STYLES */
.content-box {
    padding: .5rem;
    display: table;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    font-size: 95%;
    line-height: 1.6;
}

#box-header h2 {
    font-size: .8rem;
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .1rem;
    margin-bottom: .25rem;
    text-align: center;
}

#box-header span {
    margin-left: .2rem;
}

#box-list li ul {
    margin: 0 0 0 1.8rem;
}

.box-list-number {
    padding-right: .3rem;
    color: #202122;
}

#box-list-number-second {
    padding-right: .3rem;
    color: #202122;
}

/* INLINE PICTURE STYLES */
.thumb {
    float: left;
    margin: 0.5rem 1.4rem 1.3rem 0;
    width: fit-content;
    border: 1px solid #c8ccd1;
    padding: 0.25rem;
    background-color: #f8f9fa;
    text-align: center;
}

.thumb img {
    width: 182px;
    height: 124px;
    vertical-align: middle;
}

.thumb-caption {
    width: 182px;
    text-align: left;
    line-height: normal;
    padding: .2rem;
    font-size: 88%;
    line-height: 1.4;
}

.magnify {
    float: right;
    display: block;
    width: fit-content;
}

.magnify img {
    width: 15px;
    height: 11px;
}

/* REFERENCE LIST STYLES */
.ref-list {
    margin: 0.3rem 0 0.5rem 1.5rem;
    font-size: 0.8rem;
}

.ref-list ol {
    list-style-type: decimal;
}

.ref-list span:nth-child(even) a {
    padding-right: 13px;
    background-image: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/external-link-ltr-icon.svg?b4b84);
    background-position: center right;
    background-repeat: no-repeat;
}

.ref-list span:nth-child(odd) a {
    font-weight: bold;
}

.ref-list em {
    font-style: italic;
}

#dead-link {
    vertical-align: super;
    font-size: .6rem;
}

/* FURTHER READING STYLES */
.ref-further {
    margin-bottom: 0.4rem;
    font-size: .8rem;
}

.ref-further ul {
    list-style-type: disc;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

.ref-further a {
    padding-right: 13px;
    background-image: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/external-link-ltr-icon.svg?b4b84);
    background-position: center right;
    background-repeat: no-repeat;
}

/* EXTERNAL LINKS STYLES */
.article-categories {
    margin-bottom: 0.4rem;
    font-size: .9rem;
}

.categories-external-list {
    list-style-type: disc;
    margin: 0.3rem 0 0 1.6rem;
    padding: 0;
}

.categories-external-list li a {
    padding-right: 13px;
    background-image: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/external-link-ltr-icon.svg?b4b84);
    background-position: center right;
    background-repeat: no-repeat;
    font-style: italic;
}

.article-categories div {
    text-align: left;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 0.3125rem;
    margin-top: 1rem;
}

.categories-inline-list ul {
    display: inline;
}

.categories-inline-list ul li {
    display: inline-block;
    line-height: 1.25rem;
    border-left: 1px solid #a2a9b1;
    margin: 0.125rem 0;
    padding: 0 0.5rem;
}

.categories-inline-list ul li:first-child {
    padding-left: 0.25rem;
    border-left: 0;
}

/* FOOTER STYLES */
.footer-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    padding: .75rem;
    line-height: 1.4;
}
.footer-info li {
    padding: 0.5rem 0;
}

.footer-places li {
    float: left;
    margin-right: 1rem;
    padding: .5rem 0;
    line-height: 2;
}

.footer-icons {
    float: right;
}

.footer-icons li {
    float: left;
    margin-left: 0.5em;
    padding: .5rem 0;
    line-height: 2;
}

.footer-icons img {
    vertical-align: middle;
}

.clear-footer {
    content: "";
    display: block;
    clear: both;
}
